<html>
  <body>
        <h1>Have a Shapeshopper account?</h1>
        <h>If you already have a Shapeshopper account, please login here.</h>
        <h3>Email Address <input type="type">
        <h3>Password <input type="type">
        <h1>Don't have a Shapeshopper account?</h1>
        <h3>First Name <input type="text" <h3>Last Name  <input type="text">
        <h3>Email <input type="text">
        <h3>Confirm Email <input type="text">
        <h3>Password <input type="text">
        <h3>Password Hint <input type="text">
        <h3>Confirm Password <input type="text">
        <h3>Birth Date <select>
          <option value"Month" disabled selected hidden> month</option>
          <option value"Jan"> January</option>
          <option value"Feb"> February</option>
          <option value"March"> March</option>
          <option value"April"> April</option>
          <option value"May"> May</option>
          <option value"June"> June</option>
          <option value"July"> July</option>
          <option value"August"> August</option>
          <option value"September"> September</option>
          <option value"October"> October</option>
          <option value"November"> November</option>
          <option value"December"> December</option></select>
          <h3>Birth Date <select>
          <option value"Date" <option value"Date" disabled selected hidden> date</option>
          <option value"01"> 01</option>
          <option value"02"> 02</option>
          <option value"03"> 03</option>
          <option value"04"> 04</option>
          <option value"05"> 05</option>
          <option value"06"> 06</option>
          <option value"07"> 07</option>
          <option value"08"> 08</option>
          <option value"09"> 09</option>
          <option value"10"> 10</option>
          <option value"11"> 11</option>
          <option value"12"> 12</option>
          <option value"13"> 13</option>
          <option value"14"> 14</option>
          <option value"15"> 15</option>
          <option value"16"> 16</option>
          <option value"17"> 17</option>
          <option value"18"> 18</option>
          <option value"19"> 19</option>
          <option value"20"> 20</option>
          <option value"21"> 21</option>
          <option value"22"> 22</option>
          <option value"23"> 23</option>
          <option value"24"> 24</option>
          <option value"25"> 25</option>
          <option value"26"> 26</option>
          <option value"27"> 27</option>
          <option value"28"> 28</option>
          <option value"29"> 29</option>
          <option value"30"> 30</option>
          <option value"31"> 31</option></select>

    <h3><input type="checkbox" name="fun" value="input">
      Send me emails about the latest sales, events, looks, and more!<br>
      <p><input type="button" value="Create Account"></p>
 </form>
  </body>
</html>
