<html>
  <body>
      <h1> What's your Body Shape?</h1>
      <h3>What's your height? <select>
      <option value"Height" disabled selected hidden> Height</option>
      <option value"4'11 (59inches)"> 4'11</option>
      <option value"5'0 (60 inches)"> 5'0</option>
      <option value"5'1 (61 inches)"> 5'1</option>
      <option value"5'2 (62 inches)"> 5'2</option>
      <option value"5'3 (63 inches)"> 5'3</option>
      <option value"5'4 (64 inches)"> 5'4</option>
      <option value"5'5 (65 inches)"> 5'5</option>
      <option value"5'6 (66 inches)"> 5'6</option>
      <option value"5'7 (67 inches)"> 5'7</option>
      <option value"5'8 (68 inches)"> 5'8</option>
      <option value"5'9 (69 inches)"> 5'9</option>
      <option value"5'10 (70 inches)"> 5'10</option>
      <option value"5'11 (71 inches)"> 5'11</option>
      <option value"6'0 (72 inches)"> 6'0 </option>
      <option value"6'1 (73 inches)"> 6'1 </option></select>
      <h3>What's your top size? <select>
      <option value"Top Size" disabled selected hidden> Top Size</option>
      <option value"XS"> XS</option>
      <option value"S"> S</option>
      <option value"M"> M</option>
      <option value"L"> L</option>
      <option value"XL"> XL</option>
      <option value"1X"> 1X</option>
      <option value"2X"> 2X</option>
      <option value"3X"> 3X</option>
      <option value"4X"> 4X</option></select>
      <h3>What's your pants size? <input type="type">
