<html>
  <body>
      <h1>Body Shape Quizzer</h1>
      <h3>What's your height? <select>
      <option value"Height" disabled selected hidden> height</option>
      <option value"4'11 (59inches)"> 4'11</option>
      <option value"5'0 (60 inches)"> 5'0</option>
      <option value"5'1 (61 inches)"> 5'1</option>
      <option value"5'2 (62 inches)"> 5'2</option>
      <option value"5'3 (63 inches)"> 5'3</option>
      <option value"5'4 (64 inches)"> 5'4</option>
      <option value"5'5 (65 inches)"> 5'5</option>
      <option value"5'6 (66 inches)"> 5'6</option>
      <option value"5'7 (67 inches)"> 5'7</option>
      <option value"5'8 (68 inches)"> 5'8</option>
      <option value"5'9 (69 inches)"> 5'9</option>
      <option value"5'10 (70 inches)"> 5'10</option>
      <option value"5'11 (71 inches)"> 5'11</option>
      <option value"6'0 (72 inches)"> 6'0 </option>
      <option value"6'1 (73 inches)"> 6'1 </option></select>
