<html>
  <body bgcolor="#61cfec" align="center">
    <form action="/results">
      <font color="#ffffff" size="50" face="Verdana">What's your Body Shape?</font>
    </br>
    </br>
      <font color="#ffffff" size="5" face="Verdana">What's your height?</font>
      <select name='height'>
        <option value='59'> 4'11</option>
        <option value='60'> 5'0</option>
        <option value='61'> 5'1</option>
        <option value='62'> 5'2</option>
        <option value='63'> 5'3</option>
        <option value='64'> 5'4</option>
        <option value='65'> 5'5</option>
        <option value='66'> 5'6</option>
        <option value='67'> 5'7</option>
        <option value='68'> 5'8</option>
        <option value='69'> 5'9</option>
        <option value='70'> 5'10</option>
        <option value='71'> 5'11</option>
        <option value='72'> 6'0 </option>
        <option value='73'> </option>
      </select>
    </br>
    </br>
      <font color="#ffffff" size="5" face="Verdana">What's your top size?</font>
      <select name='topsize'>
        <option value='1'> XS</option>
        <option value='2'> S</option>
        <option value='3'> M</option>
        <option value='4'> L</option>
        <option value='5'> XL</option>
        <option value='6'> 1X</option>
        <option value='7'> 2X</option>
      </select>
        <p><button value="Get My Results">Get My Results</button></p>
    </form>
  </body>
</html>
